/* style_main.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.arrow-left, .arrow-right {
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1rem;
}

.arrow-left img, .arrow-right img {
    width: 50px; /* 矢印の画像サイズ */
}

.main-text {
    position: absolute;
    top: 20px;
    right: 100px; /* 右から左に変更 */
    display: flex;
    flex-direction: column;
}

.text-images img {
    margin-bottom: 5px; /* 画像間のスペース */
    width: 50px; /* 画像の幅を保持 */
    height: auto; /* 高さを自動調整してアスペクト比を保持 */
}

@media (max-width: 768px) {
    .text-images img {
        width: 30px; /* モバイルビューでテキスト画像のサイズを小さく調整 */
    }
    .arrow-left img, .arrow-right img {
        width: 30px; /* モバイルビューで矢印の画像サイズを適切に調整 */
    }
}
